<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8">
  <title>Sample Site</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <link rel="stylesheet" href="/public/css/style.css" type="text/css"/>
</head>
<body>
  <div class="container">
    <!-- Static navbar -->
    <nav class="navbar navbar-default ">
      <div class="container-fluid">
        <div  class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li> <img src="/public/img/logo2.png" with="94" height="45" alt="logo" srcset=""></li>
            <li class="active"><a href="/home/dashboard">Powtót</a></li>
            <li ><a href="/home/orders">Historia zamówień</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/home/logout">Wylogowanie</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
      <h2>Witaj <%=fname%>,</h2>
      <p>
        Online możesz zamówić tylko do godziny 10.00, <p id="myClock"> Pozostało ci jeszcze 
        <strong>
        <span class="h">.</span> h:
        <span class="m">.</span> m:
        <span class="s">.</span>s
        </strong>
        do złożeina zamówienia </p><span hidden id="f">.</span>
      </p>

      <p>Wybierz datę na kiedy zamawiasz lunch</p>
      <input type="date" name="lunch_order" id="lunch_order"  /> <p id="mesg" style="color:red; font-size: 14px;"></p>
      <p hidden id="sesa_no1"><%=sesa_no1%></p>
      <p>Lista twoich aktualnych zamówień:</p>
      <div>
        <table id="new_table"></table>
        <!-- <table id="orders_list"></table> -->
      </div>
      <p><%my_orders=JSON.parse(my_orders)%></p> 
      <div id= "order_list" class="table-responsive">
        <table id="myorders_list" class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">SESA</th>
              <th scope="col">Data</th>
              <th scope="col">Dostawca</th>
              <th scope="col">Numer dania</th>
              <th scope="col">Danie</th>
              <th scope="col">Cena</th>
              <th scope="col">Usuń</th>
            </tr>
          </thead>
          <tbody>
            <% for(var i=0; i < my_orders.length; i++) { %>         
              <tr>
                <td><%= my_orders[i].id %></td>
                <td><%= my_orders[i].Id_sesa_no %></td>
                <td><%= my_orders[i].order_date %></td>
                <td><%= my_orders[i].order_supplier_name %></td>
                <td><%= my_orders[i].order_no %></td>
                <td><%= my_orders[i].order_name %></td>
                <td><%= my_orders[i].order_price %></td>
                <td><button type="button" onclick="myFunction_delete(value)" value=<%= my_orders[i].id %>>Usuń</button></td>
              </tr>
            <% } %>    
          </tbody>
        </table>
      </div>
      <p>druga alternatywna tabela</p>
      <div>
        <table id="tablejs"></table>
      </div>
      <br>
      <p>Masz do wyborów dwóch dostawców Mucha i Opoka, kliknij odpowiednią zakładkę </p>
      <p hidden id="activeSupplier"></p>
      <p  hidden id="sesa_no1"><%=sesa_no1%></p>
      <!-- dynamic tabs -->
      <ul class="nav nav-tabs">
        <li ><a data-toggle="tab" href="#mucha">Mucha</a></li>
        <li><a data-toggle="tab" href="#opoka">Opoka</a></li>
      </ul>
      <div class="tab-content">
        <div id="mucha" class="tab-pane fade in active">
          <h2 hidden id="titleMucha">Mucha</h2>
          <br>
          <p>wybierz danie: </p>
          <!-- <p><%menu_json=JSON.parse(menu_json)%></p>  -->
          <p><%#menu_json=JSON.parse(menu_json)%></p> 
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Dostawca</th>
                  <th scope="col">Numer dania</th>
                  <th scope="col">Danie</th>
                  <th scope="col">Cena</th>
                  <th scope="col">Zamów</th>
                </tr>
              </thead>
              <tbody>
                <% for(var i=0; i < menu_json.length; i++) { %>
                <tr>
                  <td><%= menu_json[i].id %></td>
                  <td><%= menu_json[i].supplier_name %></td>
                  <td><%= menu_json[i].menu_no %></td>
                  <td><%= menu_json[i].menu_desctription %></td>
                  <td><%= menu_json[i].menu_price %></td>
                  <td><button type="button" onclick="myFunction_order(value)" value=<%= menu_json[i].menu_no %>>Zamów nr.
                      <%= menu_json[i].menu_no %></button></td>
                </tr>
                <% } %>
              </tbody>
            </table>
          </div>
          <!-- <div id="myContacts"></div> -->
        </div>
        <div id="opoka" class="tab-pane fade">
          <h2 hidden id="titleOpoka">Opoka</h2>
          <br>
          <p>wybierz danie:</p>
          <p><%menu_json2=JSON.parse(menu_json2)%></p>
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Dostawca</th>
                  <th scope="col">Numer dania</th>
                  <th scope="col">Danie</th>
                  <th scope="col">Cena</th>
                  <th scope="col">Zamów</th>
                </tr>
              </thead>
              <tbody>
                <% for(var i=0; i < menu_json2.length; i++) { %>
                <tr>
                  <td><%= menu_json2[i].id %></td>
                  <td><%= menu_json2[i].supplier_name %></td>
                  <td><%= menu_json2[i].menu_no %></td>
                  <td><%= menu_json2[i].menu_desctription %></td>
                  <td><%= menu_json2[i].menu_price %></td>
                  <td><button type="button" onclick="myFunction_order(value)" value=<%= menu_json2[i].menu_no %>>Zamów nr.
                      <%= menu_json2[i].menu_no %></button></td>
                </tr>
                <% } %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src='/public/main.js'>
  </script>
</body>
</html>